
.createpost{
    background-color: #0f4860;
    /* border: 1px solid black; */
    width:32vw ;
    height: 200px;
    border-radius: 20px;
     border: 1px solid rgba(188, 184, 184, 0.603);

}

.desc{
    width: 29vw;
    /* margin-right: 40px; */
  padding: 12px 20px;
  margin: 18px 20px;
  box-sizing: border-box;
  border-radius: 20px;
   border: 2px solid #ccc;
   outline: none;

}

.desc:focus{
     border: 3px solid #755b5b86;

}

.photoo{
    display: block;
    margin: 10px;
    margin-left: 22px;
    color: white;
}

.send{
    font-size: large;
    height: 40px;
    margin-left: 26vw;
    margin-bottom: 15px;
}

