.containerrr {
  background-color: #02141c;
  /* display: flex; */
}

.infoCard {
  margin-top: 200px;
  margin-left: 25vw;
  background-color: white;
  display: grid;
  box-shadow: 2px black;
  width: 900px;
  border-radius: 25px;
  border: 2px solid rgb(188, 184, 184);
  box-shadow: 0 5px 20px rgba(249, 248, 248, 0.4);
}

.pfp3 {
    border-radius: 100%;
    justify-content: center;
    align-items: center;
  grid-column: 1;
  grid-row: 1/5;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.name {
  grid-row: 1/2;
  grid-column: 2/5;
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
}
.username {
  grid-column: 2/5;
  font-weight: 500;
  font-size: 25px;
  grid-row: 2/3;
}

.uni {
  grid-row: 3/4;
  font-size: 25px;
  grid-column: 2/5;
}

.edit{
  grid-column: 5/6;
  cursor: pointer;
  grid-row: 1/4;
  margin-top: 50px;
  width: 40px;
height: 40px;
}


.center{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top:10;
  bottom: 10;
  left: 10;
  right: 10;
  z-index: 100000;
}
.wallll{
    margin-left: 33vw;
    margin-top: 200px;
}

@media screen and (max-width:600px){
  .infoCard{
    margin-top: 100px;
    margin-left: 8vw;
    width: 340px;
    height: 420px;
    display: block;

  }
  .pfp3{
    grid-row: 1;
    margin-left: 95px;
    /* width: 100px; */
    /* height: 100px; */
    size: 200px;
    margin-bottom: 0px;
  }
  .name{
    /* margin-left: 20px; */
    font-size: larger;
    /* margin-left: 20vw; */
    height: 20px;
   text-align: center; 
  }
  .username{
    grid-row: 3;
    font-size: medium;
    text-align: center;
    
  }
  .edit{
    /* grid-row: 2; */
    position:absolute;
    top: 90px;
    right: 50px;
    width: 30px;

    
  }
  .uni{
    grid-row: 4;
    text-align: center;
    font-size: medium;
  }
  .wallll{
    margin-top: 80px;
    margin-left: 10vw;
  }
  
}